---
version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: docker
    directory: .devcontainer
    schedule:
      interval: weekly

  - package-ecosystem: docker-compose
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: docker-compose
    directory: components/ansible/roles/grafana-cloud/alloy/files
    schedule:
      interval: weekly

  - package-ecosystem: docker-compose
    directory: components/ansible/roles/grafana-cloud/exporters/files
    schedule:
      interval: weekly
