---
x-volumes: &volumes
  - /etc/timezone:/etc/timezone:ro
  - /etc/localtime:/etc/localtime:ro
  - project-root-volume:/workspaces/configs-homelab
x-workdir: &default-workdir /workspaces/configs-homelab
x-tty: &tty true

volumes:

  project-root-volume:
    driver: local
    driver_opts:
      type: none
      device: .
      o: bind

services:

  lint-yaml:
    image: cytopia/yamllint:latest
    volumes: *volumes
    working_dir: *default-workdir
    command: .
    tty: *tty

  lint-workflows:
    image: rhysd/actionlint:1.7.10
    volumes: *volumes
    working_dir: *default-workdir
    command: -color
    tty: *tty

  lint-filenames:
    image: lslintorg/ls-lint:1.11.2
    volumes: *volumes
    working_dir: *default-workdir
    tty: *tty

  lint-folders:
    image: sommerfeldio/folderslint:0.14.0
    volumes: *volumes
    working_dir: *default-workdir
    command: .
    tty: *tty

  lint-markdown-links:
    image: lycheeverse/lychee:sha-a11d515-alpine
    volumes: *volumes
    working_dir: *default-workdir
    command: --config .lychee.toml .
    tty: *tty

  lint-ansible:
    image: pipelinecomponents/ansible-lint:0.79.11
    volumes: *volumes
    working_dir: *default-workdir
    command: ansible-lint components/ansible -c .ansible-lint.yml
    tty: *tty

  lint-alloy-config:
    image: grafana/alloy:v1.12.2
    volumes: *volumes
    working_dir: *default-workdir
    command: validate components/ansible/roles/grafana-cloud/alloy/files/config.alloy
    tty: *tty

  inspec:
    # template service to run from taskfile.yml
    # not intended to be run directly
    image: chef/inspec:5.22.76
    volumes: *volumes
    working_dir: *default-workdir
    tty: *tty

  docs-build:
    image: sommerfeldio/mkdocs:0.14.0
    volumes: *volumes
    working_dir: *default-workdir
    command: build
    tty: *tty

  docs-dev-server:
    image: sommerfeldio/mkdocs:0.14.0
    volumes: *volumes
    working_dir: *default-workdir
    ports:
      - 3080:8000
    tty: *tty
