---
all:
  children:
    ubuntu_desktop:
      hosts:
        caprica.fritz.box:
        kobol.fritz.box:
        picon.fritz.box:
      vars:
        ansible_user: sebastian
        ansible_python_interpreter: /usr/bin/python3
        ps1: '${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]$(__git_ps1) $ '
    raspi:
      hosts:
        admin-pi.fritz.box:
        runner-04-pi.fritz.box:
        runner-05-pi.fritz.box:
        runner-06-pi5.fritz.box:
      vars:
        ansible_user: sebastian
        ansible_python_interpreter: /usr/bin/python3
        ps1: '${debian_chroot:+($debian_chroot)}\[\033[01;36m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]$(__git_ps1) $ '
