---
- name: Install and configure nodes
  # hosts: ubuntu_desktop:raspi
  hosts: picon.fritz.box
  gather_facts: true
  become: true
  vars:
    grafana_cloud_dir: /opt/grafana-cloud
  tasks:
    # - ansible.builtin.include_role:
    #     name: ../roles/grafana-cloud/exporters
    - ansible.builtin.include_role:
        name: ../roles/grafana-cloud/alloy
