---
- name: Prepare directories for git repositories
  hosts: ubuntu_desktop:raspi
  gather_facts: true
  become: true
  vars_files:
    - ../vars/main.yml
  tasks:
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/filesystem

- name: Clone git repositories
  hosts: ubuntu_desktop
  gather_facts: true
  become: false
  vars_files:
    - ../vars/main.yml
  tasks:
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/git-repositories
      vars:
        repositories:
          - { dest: "{{ dir_repos_sommerfeld_io }}", org: "sommerfeld-io", repo: ".github" }
          - { dest: "{{ dir_repos_sommerfeld_io }}", org: "sommerfeld-io", repo: "ansible-roles-collection" }
          - { dest: "{{ dir_repos_sommerfeld_io }}", org: "sommerfeld-io", repo: "configs-homelab" }
          - { dest: "{{ dir_repos_sommerfeld_io }}", org: "sommerfeld-io", repo: "container-images" }
          - { dest: "{{ dir_repos_sommerfeld_io }}", org: "sommerfeld-io", repo: "inspec-profiles" }
          - { dest: "{{ dir_repos_sommerfeld_io }}", org: "sommerfeld-io", repo: "tech-radar" }
          - { dest: "{{ dir_repos_sommerfeld_io }}", org: "sommerfeld-io", repo: "template-repository" }
          - { dest: "{{ dir_repos_sommerfeld_io }}", org: "sommerfeld-io", repo: "telemetry" }
          - { dest: "{{ dir_repos_sebastian_sommerfeld_io }}", org: "sebastian-sommerfeld-io", repo: "bookmarks" }
          - { dest: "{{ dir_repos_sebastian_sommerfeld_io }}", org: "sebastian-sommerfeld-io", repo: "gatus" }
          - { dest: "{{ dir_repos_sebastian_sommerfeld_io }}", org: "sebastian-sommerfeld-io", repo: "mkdocs-material" }
          - { dest: "{{ dir_repos_sebastian_sommerfeld_io }}", org: "sebastian-sommerfeld-io", repo: "tabler" }

- name: Clone git repositories
  hosts: admin-pi.fritz.box
  gather_facts: true
  become: false
  vars_files:
    - ../vars/main.yml
  tasks:
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/git-repositories
      vars:
        repositories:
          - { dest: "{{ dir_repos_sommerfeld_io }}", org: "sommerfeld-io", repo: "configs-homelab" }
