---
- name: Install and configure admin-pi specifics (non-root)
  hosts: admin-pi.fritz.box
  gather_facts: true
  become: false
  vars_files:
    - ../vars/main.yml
  tasks:
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/services
        tasks_from: telemetry
