---
- name: Common telemetry setup und services for all nodes (workstations and raspberry pi)
  hosts: ubuntu_desktop:raspi
  gather_facts: true
  become: false
  vars_files:
    - ../vars/main.yml
  tasks:
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/services
        tasks_from: main
