---
- name: Install and configure nodes
  hosts: ubuntu_desktop
  gather_facts: true
  become: true
  vars_files:
    - ../vars/main.yml
    - ../vars/ubuntu.yml
  tasks:
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/hardening
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/bash
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/filesystem
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/git
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/packages
        tasks_from: main
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/packages
        tasks_from: fastfetch
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/packages
        tasks_from: desktop
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/docker
        tasks_from: main
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/vscode
        tasks_from: main
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/cron
        tasks_from: main
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/taskfile-dev
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/ansible
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/conky
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/github-cli
    # - ansible.builtin.include_role:
    #     name: ../roles/ansible-roles-collection/virtualization

- name: Install and configure nodes (non-root)
  hosts: ubuntu_desktop
  gather_facts: true
  become: false
  vars_files:
    - ../vars/main.yml
    - ../vars/ubuntu.yml
  tasks:
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/atuin
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/cron
        tasks_from: jobs
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/docker
        tasks_from: scout
    - ansible.builtin.include_role:
        name: ../roles/ansible-roles-collection/vscode
        tasks_from: plugins
