---
- name: Install and configure nodes
  hosts: ubuntu_desktop
  gather_facts: true
  become: true
  tasks:
    - name: Install  ----  Steam
      when: ansible_os_family == "Debian"
      ansible.builtin.apt:
        pkg:
          - steam
        state: latest
        update_cache: true
    - name: Info  ----  Post installation message
      ansible.builtin.debug:
        msg:
          - "Things left to do"
          - "  - Login to Steam (see BitWarden for credentials)"
          - "  - Enable the Steam Beta Client"
          - "    - Go to 'Steam > Settings'"
          - "    - Account tab > click 'change' for Beta Participation  and click on Steam Beta Update"
          - "  - Enable Steam Play for all games"
          - "    - Go to 'Steam > Settings > Steam Play'"
          - "    - Click 'Enable Steam Play for all titles'"
          - "      - Use 'Proton 7.0-6'"
          - "  - Install games"
          - "    - Run Playbook again for some Game configs"

    - name: Config  ----  Master of Orion 2
      vars:
        config_file: /home/{{ ansible_user }}/snap/steam/common/.local/share/Steam/steamapps/common/Master of Orion 2/dosboxMOO2.conf
      block:
        - name: Config  ----  Master of Orion 2  ----  Check if Orion config file exists
          ansible.builtin.stat:
            path: "{{ config_file }}"
          register: orion_config
        - name: Config  ----  Master of Orion 2  ----  Disable fullscreen
          ansible.builtin.lineinfile:
            path: "{{ config_file }}"
            regexp: "^{{ item.old }}$"
            line: "{{ item.new }}"
            state: present
          loop:
            - { old: "fullscreen=true", new: "fullscreen=false" }
            - { old: "windowresolution=original", new: "windowresolution=1280x960" }
          when: orion_config.stat.exists
        - name: Config  ----  Master of Orion 2  ----  Fix line endings (CRLF to LF)
          ansible.builtin.replace:
            path: "{{ config_file }}"
            regexp: '\r\n'
            replace: '\n'
