[Desktop Entry]
Type=Application
Exec="sleep 60 && task -g conky"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=conky
Name=conky
Comment[en_US]=Configured via script
Comment=Configured via script
